DB_PASSWORD=замени_на_свой_пароль
JWT_SECRET=замени_на_случайную_строку
TBANK_TERMINAL_KEY=замени_на_боевой_ключ
TBANK_PASSWORD=замени_на_пароль_тбанка
VAPID_PRIVATE_KEY=замени_на_сгенерированный
VAPID_PUBLIC_KEY=замени_на_сгенерированный
YANDEX_GEOCODER_API_KEY=твой_ключ_яндекса
